<nav style="background-color: #f8f9fa; border-bottom: 1px solid #e7e7e7; padding: 1rem; margin-bottom: 2rem;">
    <div style="display: flex; justify-content: space-between; align-items: center; max-width: 1200px; margin: auto;">
        
        {# Left Side #}
        <div>
            <a href="{{ path('app_homepage') }}" style="font-weight: bold; text-decoration: none; color: #333;">
                AlbumMe
            </a>
        </div>

        {# Right Side #}
        <div>
            {% if app.user %}
                
                {# User is logged in #}
                <span style="margin-right: 1rem;">
                    user: {{ app.user.username }}
                </span>
                {# This is specifically to reference the logout url that doesn't have a controller, the rule is: to use _logout_<firewallname> in path() #}
                {# the CSRF token must be added manually #}
                <a href="{{ path('_logout_main') }}?_csrf_token={{ csrf_token('logout') }}">Logout</a>

            {% else %}

                {# User is a guest #}
                <a href="{{ path('app_login') }}" style="margin-right: 1rem;">Login</a>
                <a href="{{ path('app_register') }}">Register</a>

            {% endif %}
        </div>
    </div>
</nav>