{% extends "base.html.twig" %}
{% block body %}
<div class="row justify-content-center">
			<div class="col-md-6 col-lg-4">
{{ form_start(review_form) }}
        {{ form_row(review_form.comment) }}
        {{ form_row(review_form.rating) }}

        <button type="submit" class="btn btn-warning text-white me-3">Add review</button>
        <a href="{{ path('show_album', {'id': album.id}) }}" class="btn btn-link">Cancel</a>

    {{ form_end(review_form) }}
</div>
</div>
{% endblock %}