{% extends "base.html.twig" %}

{% block title %}Album:
	{{ album.title }}
{% endblock %}

{% block body %}
	<div class="row justify-content-center">
		<div class="col-md-6 col-lg-4">
			<h1>{{ album.title }}</h1>
			<p>Artist:
				{{ album.artist.name }}</p>

			<h2>Track List</h2>
			<ul>
				{# 1. Loop over trackList #}
				{% for track in album.trackList %}
					<li>{{ track }}</li>
				{% endfor %}
			</ul>

			<h2>Reviews</h2>
			<a href="{{ path('new_review', {'id': album.id}) }}" class="btn btn-info text-white me-3 mb-3">Add review</a>


			{% if album.reviews is empty %}
				<p>There are no reviews it seems...</p>
			{% else %}
				<div
					class="list-group">
					{# Iterate over reviews #}
					{% for review in album.reviews %}
						<div class="list-group-item mb-3 border rounded">
							<div class="d-flex w-100 justify-content-between">
								<h5 class="mb-1">Rating:
									{{ review.rating }}
									/ 5</h5>
								<small>
									{{ review.reviewer ? review.reviewer.username }}</small>
							</div>
							<p class="mb-1">{{ review.comment }}</p>


							{% if app.user %}
								<div class="mt-2 d-flex gap-2">
									{% if app.user == review.reviewer %}
										<a href="{{ path('edit_review', {'id': review.id}) }}" class="btn btn-sm btn-outline-secondary">
											Edit
										</a>
									{% endif %}

									{# Delete for owner or moderator #}
									{% if app.user == review.reviewer or is_granted('ROLE_MODERATOR') %}
										<form method="post" action="{{ path('delete_review', {'id': review.id}) }}" onsubmit="return confirm('Are you sure?');">
											<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ review.id) }}">
											<button class="btn btn-sm btn-outline-danger">Delete</button>
										</form>
									{% endif %}

								</div>
							{% endif %}
						</div>
					{% endfor %}
				</div>
			{% endif %}

		</div>
	</div>
{% endblock %}
